html {
    height:100%;
}

body {
    min-height: 100%;
    position: relative;
}

body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

/* Footer always on bottom */
footer {
    background: var(--light);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.img-zoom:hover {
    transform: scale(1.05);
}